@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.style-form {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #7978d9;
  margin-top: 15px;
}

.style-label {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #484848;
}

.style-change {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.style-placeholder::placeholder {
  font-weight: 300;
  font-size: 16px;
  color: #494949;
}

.style-button {
  all: unset;
  padding: 10px 30px;
  background: #9677ef;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
}

.style-button-form {
  all: unset;
  width: 400px;
  height: 50px;
  text-align: center;
  background: #7978d9;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Rubik";
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.style-link-react {
  font-family: "Rubik";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7b61ff;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #010101;
}

.container-login-cadastro {
  height: 100vh;
  background: #eff2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.error-inputs {
  color: #e70000;
  position: absolute;
  bottom: -22px;
  left: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
}
